body{padding:20px}.error{color:red}input.ethAddress,input.ethTx,input.string{width:30em}.abi{display:block;width:100%;height:3em}.contractForm label{display:block}

input[type=text] {
    width: 500px;
    padding: 1px 1px;
    margin: 2px 0;
    border: none;
    font-size:20px;
}
.btn-c {
    display: inline-block;
    padding: 2px 5px;
    margin-bottom: 0;
    font-size: 13px;
    font-weight: 300;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.btn-primary-c {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}
.btn-primary-c:hover {
    color: #fff;
    background-color: #286090;
    border-color: #204d74;
}

.btn-success-c {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}
.btn-success-c:hover {
    color: #fff;
    background-color: #449d44;
    border-color: #398439;
}
.btn-default-c {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}
.btn-default-c:hover {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
}
.btn-danger-c {
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
}
.btn-danger-c:hover {
    color: #fff;
    background-color: #c9302c;
    border-color: #ac2925;
}
.smrt-input {
    border: 1px solid rgb(177, 177, 177) !important;
    font-size: 15px !important;
    width: 30% !important;
    color: #3c3b3a !important;
}
.dataTables_filter {
    width: 50%;
}
.dataTables_filter label {
    width: 100%;
    display: inline-flex;
}
.dataTables_filter input {
    height: 25px;
}
.success-print {
    border: 1px solid #30a965;
    background-color: #7cd2a2;
    border-radius: 5px;
    padding: 0px 8px;
    color: #ffffff;
    cursor: default;
}
.header {
    color: black;
    border-bottom: 1px solid #9e9e9e;
    text-shadow: 3px 3px 5px #777777;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000;
}
table.dataTable span.highlight {
  background-color: #FFFF88;
}
.cDefault {
    cursor: default;
}
.opacity-5 {
    opacity: 0.5;
}
.opacity-6 {
    opacity: 0.6;
}
.opacity-7 {
    opacity: 0.7;
}
.padding-r3 {
    padding-right: 3px;
}
a > input {
    color: #007bff;
}
a > input:hover {
    color: #0056b3;
}
.font-sm {
    font-size: small;
}

/*GitHub Icon class*/
.octicon {
    display: inline-block;
    vertical-align: text-top;
    fill: currentColor;
}
.header-logo-invertocat {
    margin: -1px 15px -1px -2px;
    color: #000;
    white-space: nowrap;
}
/*.canvasjs-chart-credit {
    display: none !important;
}*/
.pie-chart {
    background: url("../../style/pie-chart-xxl.png"); 
}
.cPointer {
    cursor: pointer;
}
.badge-success {
    background-color: #5cb85c;
}
.icon-st {
    font-size: 20px;
    color: grey;
}
.icon-st:hover {
    color: #557fff;
}
